@media screen and (max-width: 1140px) {
.Mountain__wrap{
flex-direction: column;
}
.Mountain__right,
.Mountain__left {
max-width: none;
} 
.Mountain__right-desc{
    word-break: break-all;
}
}

@media screen and (max-width: 768px) {
    .Mountain__wrap{
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
    


@media screen and (max-width: 600px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .header__nav-logo {
        order: 1; 
       
    }

    .header__nav-list {
        order: 2; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    .header__nav-list_item-link {
        font-size: 16px;
    }

    .header__nav-icons {
        order: 2; 
     margin-left: 6px;
    }
.header__nav-icons a {
        padding: 4px 10px;
        border: 1px solid #242424;
        font-size: 14px;
        line-height: 1;
        white-space: nowrap;
    }     
}

@media screen and (max-width: 768px) {
    .banner__wrap {
        padding-top: 10px;      
        padding-bottom: 25px;   
        gap: 15px;
    }
      .Mountain {
        margin-top: 30px;      
        margin-bottom: 50px;
      }

    .banner__title {
        font-size: 32px;       
    }

    .banner__link {
        padding: 10px 40px;   
        font-size: 15px;       
    }

}




@media screen and (max-width: 768px) {

     .Mountain__wrap:first-child {
        flex-direction: column !important;
    }

    .Mountain__wrap {
        align-items: flex-start;
        flex-direction: column;
    }

    .Mountain__right {
        width: 100%;
        max-width: 100%;
        order: 1;
    }


     .Mountain__left {
        width: 100%;
        max-width: 100%;
        order: 2;
    }

    .Mountain__left img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 2px;
    }

    .Mountain__right-desc {
        font-size: 16px;
        line-height: 1.6;
    }

    .Mountain__right-title {
        justify-content: flex-start;
        white-space: nowrap;
        font-size: 24px;
    }

    .Mountain__right-title svg {
        width: 100px;
        height: 3px;
        margin-left: 15px;
        vertical-align: middle;
    }

    @media (max-width: 600px) {
    .banner__link2{
        padding: 10px 60px;
        font-size: 15px;
    } 
}


@media screen and (max-width: 600px) {
    .footer__wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .footer__column {
        text-align: left;
        min-width: 100%;
    }
/* 
    .footer__contacts {
        padding-left: 0;
    } */

    .footer__social {
        justify-content: flex-start;
    }

    .footer__title {
        font-size: 18px;
    }
     .footer__contacts {
        padding-left: 0;
    }


/* @media screen and (max-width: 360px) {
    .banner__link {
        padding: 12px 50px; 

    }
} */

}

   @media screen and (max-width: 768px) {
    .Mountain__wrap:first-child {
        flex-direction: column !important;
    }
}
}